.faq-block {
  padding: 70px 0 120px;

  .accordion {
    margin-top: 35px;
  &-item{
    margin-bottom: 20px;
  }
    &-header {
      background-color: var(--light-grey);
      border-radius: 30px;
      margin-bottom: 5px;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: var(--main-blue);
      }
    }

    &-content {
      padding: 15px 20px;
      border-radius: 30px;
      background-color: var(--light-grey);
      margin-bottom: 24px;
    }

    &-icon {
      transition: transform 0.3s ease;
      width: 16px;
      height: 16px;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}