
:root{
--main-black: #212121;
--light-grey:#FAFAFA;
--ordinary-black: #000000;
--main-white:#FFFFFF;
--main-blue:#90CAF9;
--main-grey:#9E9E9E;
--main-powderblue:#BFDCE8;
--main-nightblue:#2A344B; 
}

