.weather-dashboard {
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 115px 0 135px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.day-theme {
    .search-button {
      background-color: var(--main-blue);
    }
    .cities-link:hover {
      background-color: var(--main-blue);
    }
  }
  &.night-theme {
    .search-button {
      background-color: var(--main-nightblue);
    }
    .cities-link:hover {
      background-color: var(--main-nightblue);
    }
  }
  .container {
    max-width: 632px;
  }

  @media screen and (min-width: 1024px) {
    padding: 30px 0 50px;
  }

  .search-dropdown {
    width: 100%;
    position: relative;

    .search-bar {
      height: 60px;
      border-radius: 30px;
      background-color: var(--main-white);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px 0 20px;
      margin-bottom: 50px;

      .input-search {
        border: none;
        width: 100%;
        text-align: left;

        &:focus {
          outline: none;
        }
      }
      .search-button {
        border: none;
        border-radius: 50%;
        padding: 12px;
        display: flex;
      }
    }
    .search-options {
      z-index: 2;
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;

      .cities-list {
        border-radius: 30px;
        background-color: var(--main-white);
        padding: 13px 10px;

        li {
          padding: 7px 10px;
        }

        .cities-link:hover {
          border-radius: 30px;
          color: var(--main-white);
        }
      }

      .error-link {
        color: var(--main-grey);
        text-align: center;
      }
    }
  }

  .weather-details {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;

    .weather-block {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid var(--main-powderblue);

      @media screen and (min-width: 1024px) {
        flex-wrap: nowrap;
      }

      img {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 30px;
        margin-right: 20px;
      }

      span {
        color: var(--main-grey);
      }

      .main-weather-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .weather-city {
        flex-grow: 1;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 0 20px;

        @media screen and (min-width: 1024px) {
          flex-direction: column;
          gap: 10px;
          align-items: flex-end;
          flex-basis: 0;
          padding: 0 0 59px 0;
        }
      }
    }

    .weather-add {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      text-align: center;

      .weather-add-min {
        border-right: 1px solid var(--main-powderblue);
        flex-grow: 1;
      }

      .weather-add-max {
        flex-grow: 1;
      }

      span {
        color: var(--main-grey);
        padding-bottom: 5px;
      }
    }
  }
}
